body {
    font-family: Arial, sans-serif;
    margin: 20px;
    background-color: #f0f0f0;
}

h1 {
    text-align: center;
    color: #333;
}

.character, .monster {
    background: linear-gradient(135deg, #eb420e, #d99939); /* Unified background for players */
    border-radius: 10px;
    padding: 10px;
    margin: 10px auto;
    width: 300px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    display: flex; /* Use flexbox for alignment */
    align-items: center;
}

.monster {
    background: linear-gradient(135deg, #5f6fa0, #a84dff); /* Different gradient for monsters */
    border: 1px solid #666; /* Darker border for monsters */
}

.character h2, .monster h3 {
    text-align: center;
    margin-bottom: 5px;
}

.stats-row {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.stat {
    flex: 1;
    margin: 5px;
}

label {
    font-weight: bold;
    margin-right: 5px;
}

.bar-container {
    background-color: #ddd;
    border-radius: 10px;
    height: 20px;
    width: 200px;
    margin-top: 5px;
    position: relative;
    overflow: hidden;
}

.bar {
    background-color: #4CAF50; /* HP bar color */
    height: 100%;
    line-height: 20px;
    color: white;
    text-align: center;
    white-space: nowrap;
    border-radius: 10px;
    transition: width 0.5s;
}

.threat-bar {
    background-color: #ac0d0d; /* Different color for Threat bar */
}

span {
    font-size: 14px;
    font-weight: bold;
}

.attack-info {
    display: flex;
    align-items: center; /* Center align the icon and number vertically */
    margin-top: 5px; /* Optional margin for spacing */
}

.attack-icon {
    margin-right: 5px; /* Space between icon and attack number */
    font-size: 18px; /* Adjust size as needed */
}

.character-container, .monster-container {
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
}

.character-info, .monster-details {
    flex: 1;
    margin-right: 20px;
}

.character-image img, .monster-image img {
    width: 100px;
    height: 100px;
    border-radius: 50%;
    object-fit: cover;
    border: 2px solid #ccc;
}

#monster-data {
    width: 600px;
}

/* Additional styles for monster details */
.monster-details h3 {
    margin: 0 0 10px;
}

.monster-details p {
    margin: 5px 0;
}
